<footer>
    <div>
        <div class="left">
            <div class="detail">
                Copyright &copy; Nick Flynn {{year}}
            </div>
        </div>
        <div class="right">
            <ul>
                <li>
                    <span class="fa fa-twitter"></span>
                </li>
                <li>
                    <span class="fa fa-medium"></span>
                </li>
                <li>
                    <span class="fa fa-github"></span>
                </li>
            </ul>
        </div>
    </div>
</footer>