<mat-card>
    <mat-card-title>About</mat-card-title>
    <mat-card-content>
        <p>
            Jabba's through with you. He has no time for smugglers who drop their shipments at the first sign of an Imperial cruiser.
            Even I get boarded sometimes. Do you think I had a choice? You can tell that to Jabba. He may only take your
            ship. Over my dead body. That's the idea. I've been looking forward to killing you for a long time. Yes, I'll
            bet you have. Sorry about the mess. You're safe! We had feared the worst. When we heard about Alderaan, we were
            afraid that you were... We don't have time for our sorrows, Commander. The battle station has surely tracked
            us here. It's the only explanation for the ease of our escape. You must use the information in this R2 unit to
            plan the attack. It is our only hope. Yes. We are approaching the planet Yavin. The Rebel base is on a moon on
            the far side. We are preparing to orbit the planet.
        </p>

    </mat-card-content>
</mat-card>