mat-card {
    overflow: auto;

    img {
        height: 150px;
        width: 250px;
        border-radius: 2px;
    }

    mat-card-title {
        font-size: 1.5rem;
    }

    mat-chip {
        background-color: #1971CF;
        color: white;
        padding: 2px 7px;
        margin: 5px 5px 0 0 !important;
        border-radius: 3px;
        font-size: .7rem;
    }

    mat-button {
        vertical-align: text-top;
    }

    mat-card-actions button div{
        float: left;

        &.icon {
            margin: 5px 5px -5px 0;
        }
    }

    button {
        a {
            color: black;
        }
    }

    .card-content-left {
        float: left;
        width: 250px;
        padding-right: 25px;
    }
}



.project-row {
    color: rgb(53, 52, 65);
    

    .row-left {
        width: 250px;
        margin-right: 20px;
        float: left;
    
        img {
            height: 150px;
            width: 250px;
            border-radius: 5px;
        }
        
        span {
            background-color: #1971CF;
            padding: 5px 7px;
            margin-top: 5px;
            border-radius: 5px;
            color: white;
            font-size: .6rem;
            white-space: nowrap;
            display: inline-block;
        }
    }
    
    .row-right {
        margin-left: 20px;

        button {
            text-decoration: none;
            border: 1px solid #f7832b;
            border-radius: 5px;
            background-color: transparent;
            color: #f7832b;
            font-size: .9rem;
            padding: 5px 10px;
            
            &:focus, &:hover, &:active {
                background-color: #f7832b;
                color: white;
            }

            /deep/ svg {
                height: 15px;
            }
        }
    }
}