<mat-card>
    <mat-card-content>
        <ul>
            <li>
                <span>
                    <fa name="linkedin-square" size="lg"></fa>
                </span>
                <a href="https://www.linkedin.com/in/nick-flynn-497b0864/" target="_blank">Nick Flynn</a>
            </li>
            <li>
                <span>
                    <fa name="twitter" size="lg"></fa>
                </span>
                <a href="https://twitter.com/nickrflynn" target="_blank">@nickrflynn</a>
            </li>
            <li>
                <span>
                    <fa name="github" size="lg"></fa>
                </span>
                <a href="https://github.com/nickrflynn" target="_blank">/nickrflynn</a>
            </li>
        </ul>
    </mat-card-content>
</mat-card>