.active {
    color: #8130ff;
    font-weight: bold;
}

mat-toolbar {
    img {
        height: 25px;
        margin-right: 10px;
        cursor: pointer;

        &:focus, &:active, {
            outline: none;
        }
    }

    button {
        margin: 0 5px;
    }
}