<mat-toolbar color="primary">
  <span>Nick Flynn</span>
  <button mat-button routerLink="/about" routerLinkActive="active">About</button>
  <button mat-button routerLink="/projects" routerLinkActive="active">Projects</button>
  <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <div class="page">
  <nav>
    <ul>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a href="">Skills</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>

    <span class="copyright">&copy; Nick Flynn {{ date | date: 'y' }}</span>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> -->