@import "material-theme";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

$x-margin-xl: 250px;
$x-margin-lg: 150px;
$x-margin-md: 50px;
$x-margin-sm: 10px;

mat-toolbar {
    padding: 0 $x-margin-xl !important;
}

mat-card {
    margin: 25px $x-margin-xl;
}

footer {
    margin: 0px $x-margin-xl;
}

@media only screen and (max-width: 1200px) {
    mat-toolbar {
        padding: 0 $x-margin-lg !important;
    }
    
    mat-card {
        margin: 25px $x-margin-lg;
    }

    footer {
        margin: 0px $x-margin-lg;
    }
}

@media only screen and (max-width: 992px) {
    mat-toolbar {
        padding: 0 $x-margin-md !important;
    }
    
    mat-card {
        margin: 25px $x-margin-md;
    }

    footer {
        margin: 0px $x-margin-md;
    }
}

@media only screen and (max-width: 768px) {
    mat-toolbar {
        padding: 0 $x-margin-sm !important;
    }
    
    mat-card {
        margin: 25px $x-margin-sm;
    }

    footer {
        margin: 0px $x-margin-sm;
    }
}